@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

:root {
  /* --color-button: #c58b71;
  --color-font: #b17458;
  --color-shape1: #8c9e6b;
  --color-shape2: #f3decf;
  --color-shape3: #f3cf90;
  --color-background: #faf5f1;
  --color-background2: #f5e8d6; */

  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  --main-text-color: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
    font-size: 16px;
  }
  
  .hidden {
    display: none;
  }

  h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #FAF6F1;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 400;
    color: #FAF6F1;
  }

header {
    height: 150px;
    background-image: url("./images/hotel-wallpaper-opacity-0_3.png");
    background-size: inherit;
    background-blend-mode: color-burn;
    background-color: #213148;
}


  main {
      height: 300px;
      /* background-image: url("./images/image-from-rawpixel-id-2756328-jpeg.jpg"); */
      background-image: url("./images/image-from-rawpixel-id-2756328-jpeg-opacity-0_3.png");
      background-size: cover;
      background-color: #FAF6F1;
  }

  footer {
    height: 200px;
    /* background-image: url("./images/hotel-wallpaper-opacity-0_3.png");
    background-size: inherit;
    background-blend-mode: color-burn; */
    background-color: #213148;
  }

  header > *, main > *, footer > * {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }


  /* HEADER --> inside #global_menu */

#global_menu {
    display: grid;
    grid-template-columns: 5vw 20vw auto 20vw;
    grid-template-rows: 20% 60% 20%;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    height: 150px;
}


#hogwarts_logo_wrapper {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: auto;
}

#hogwarts_logo {
    height: auto;
    width: 4vw;
    display: block;
    max-width: 80px;
}

#page_name {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
}

#house_crests_wrapper {
    display: flex;
    flex-direction: row;

    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    margin: auto;
}

.house_crest {
    height: auto;
    width: 4vw;
    max-width: 70px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}






/* MEDIA QUERIES */
@media (max-width: 1600px) {
    #global_menu {
        display: grid;
        grid-template-columns: 10vw 5vw 35vw 25vw 10vw;
        grid-template-rows: 20% 60% 20%;
        grid-column-gap: 25px;
        grid-row-gap: 0px;
        height: 150px;
    }
    
    #hogwarts_logo_wrapper {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        margin: auto;
    }
    
    #hogwarts_logo {
        height: auto;
        width: 5em;
        display: block;
        max-width: 80px;
    }
    
    #page_name {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        align-self: center;
    }
    
    #house_crests_wrapper {
        display: flex;
        flex-direction: row;
    
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        margin: auto;
    }
    
    .house_crest {
        height: auto;
        width: 5em;
        max-width: 70px;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
}