@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

:root {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  --main-text-color: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
    font-size: 16px;
  }
  
  .hidden {
    display: none;
  }

  h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #FAF6F1;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 400;
    color: #FAF6F1;
  }

  a {
    text-decoration: none;
    color: black;
}

header {
    height: 150px;
    background-image: url("./images/hotel-wallpaper-opacity-0_3.png");
    background-size: inherit;
    background-blend-mode: color-burn;
    background-color: #213148;
}


  main {
      height: auto;
      padding-bottom: 90px;
      /* background-image: url("./images/image-from-rawpixel-id-2756328-jpeg.jpg"); */
      background-image: url("./images/image-from-rawpixel-id-2756328-jpeg-opacity-0_3.png");
      background-size: cover;
      background-color: #FAF6F1;
  }

  footer {
    height: 200px;
    /* background-image: url("./images/hotel-wallpaper-opacity-0_3.png");
    background-size: inherit;
    background-blend-mode: color-burn; */
    background-color: #213148;
  }

  header > *, main > *, footer > * {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-align-center {
    display:flex; 
    align-items: center;
  }


  /* HEADER --> inside #global_menu */

#global_menu {
    display: grid;
    grid-template-columns: 5vw 20vw auto 20vw;
    grid-template-rows: 20% 60% 20%;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    height: 150px;
}


#hogwarts_logo_wrapper {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: auto;
}

#hogwarts_logo {
    height: auto;
    width: 4vw;
    display: block;
    max-width: 80px;
}

#page_name {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
}

#house_crests_wrapper {
    display: flex;
    flex-direction: row;

    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    margin: auto;
}

.house_crest {
    height: auto;
    width: 4vw;
    max-width: 70px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}




#filters_wrapper {
    display: flex;
    flex-direction: column;

}


#main {
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    height: auto;
}

#search_elements_wrapper {
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 20px auto 30px 10px;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
}

#search_elements {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#students_found {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding-left: 20px;
    font-size: 0.9em;
}


/* FILTERS */

#filters_wrapper {
    grid-column: 1 / span 1;
}

li {
    list-style: none;
}

.circle_inactive {
    width: 12px;
    height: 12px;
    border: 1px solid #213148;
    border-radius: 25px;
    background: #FAF6F1; 
    margin-right: 12px; 
}

.circle_active {
    width: 12px;
    height: 12px;
    border: 1px solid #e18247;
    border-radius: 25px;
    background: #e18247; 
    margin-right: 12px;  
}

.filtering_category {
    height: 35px;
    font-weight: 600;
    margin-top: 15px;
}

.li_item-flex {
    display: flex;
    height: 35px;
    align-items: center;
    padding-left: 15px;
    width: 195px;
    margin-bottom: 5px;
    cursor: pointer;
}

.li_item-active {
    background-color: #ebe6dd;
    border-radius: 50px;
}



/**/


#search_results {
    grid-column: 2 / span 1;
    background-color: #EAE5DD;
    border-radius: 20px;
    padding-bottom: 40px;
}

#search_name {
    width: 25vw;
    height: 44px;
    margin-top: 20px;
    border: 1px solid #C1BEBA;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(229 224 217 / 40%);

    font-size: 1.02em;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
}

#search_name:focus {
    outline: 0px;
    border: 1px solid #213148;
    border-radius: 10px;
}

#search_button {
    width: 5vw;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 10px 0px rgb(229 224 217 / 40%); */
    margin-left: 15px;
    /* color: #C36327; */
    background-color: #C36327;
    color: #FAF6F1;
    box-shadow: 0px 5px 10px 0px rgb(151 84 21 / 25%);

    font-size: 01.1em;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif;
    min-width: 100px;
}

#search_button:hover {
    background-color: #b65b23;
    box-shadow: 0px 5px 10px 0px rgb(151 84 21 / 35%);
    cursor: pointer;
}

#reset_button {
    width: 5vw;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: #E7E1D7;
    color: #FAF6F1;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 20%);
    font-size: 01.1em;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif;
    color: rgb(26,43,67);

    align-items: center;
    display: flex;
    min-width: 120px;
}

#reset_button:hover {
    background-color: #ebdfd0;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
}

#reset_button > span > img {
    height: 18px;
    width: auto;
    opacity: 0.8;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 20px;
}






/* Search results container */

#table_headers {
    display: grid;
    grid-template-columns: 1.3fr 0.9fr 1fr 1.3fr 0.8fr 0.3fr;
    grid-template-rows: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 0px;

    font-weight: 600;
    font-size: 0.9em;
    opacity: 0.8;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 20px;
}

#table_headers > div > img {
    opacity: 0;
}

.table_header_icon {
    opacity: 1 !important;
    padding-left: 10px;
    padding-top: 2px;
    height: 45%;
    width: auto;
}

.table_header_icon:hover {
    cursor: pointer;
}


.table_header {
    display: flex;
    align-items: center;
}

.table_header > img {
    height: 80%;
    width: 80%;
    padding-left: 10px;
}

.table_header > p {
    font-weight: 600;
}

#name_sorting, #surname_sorting, #house_sorting {
    cursor: pointer;
}

.text-active_sorting {
    color: #A64000;
}




/* table elements */
.table_element {
    display: grid;
    grid-template-columns: 1.3fr 0.9fr 1fr 1.3fr 0.8fr 0.3fr;
    grid-template-rows: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 0px;

    align-items: center;
    background-color: #fffefe;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 10px 0px rgb(171 157 137 / 40%);
    margin-bottom: 5px;
    border: 1px solid #FAF6F1;

    opacity: 0.8;
    cursor: pointer;
}

.table_element:hover {
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid #a29c93;
    box-shadow: 0px 3px 10px 0px rgb(171 157 137 / 50%);
}

.table_element-expelled {
    opacity: 0.5;
    filter: saturate(0.5);
}

.table_element-expelled:hover {
    opacity: 0.6;
}

.student_photo {
    height: 45px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.circle_Gryffindor {
    width: 12px;
    height: 12px;
    border: 1px solid #8C2631;
    border-radius: 25px;
    background: #8C2631; 
    margin-right: 10px;  
}

.circle_Hufflepuff {
    width: 12px;
    height: 12px;
    border: 1px solid #F3C86E;
    border-radius: 25px;
    background: #F3C86E; 
    margin-right: 10px; 
}

.circle_Slytherin {
    width: 12px;
    height: 12px;
    border: 1px solid #165142;
    border-radius: 25px;
    background: #165142; 
    margin-right: 10px; 
}

.circle_Ravenclaw {
    width: 12px;
    height: 12px;
    border: 1px solid #5B8BC6;
    border-radius: 25px;
    background: #5B8BC6; 
    margin-right: 10px; 
}

.icon-element-size {
    height: 30px;
    width: auto;
    padding-right: 10px;
    opacity: 0.9;
}

.icon-active_or_expelled-element-size {
    height: 21px;
    width: auto;
    padding-right: 10px;
    opacity: 0.9;
}






/* MEDIA QUERIES */
@media (max-width: 1600px) {
    #global_menu {
        display: grid;
        grid-template-columns: 10vw 5vw 35vw 25vw 10vw;
        grid-template-rows: 20% 60% 20%;
        grid-column-gap: 25px;
        grid-row-gap: 0px;
        height: 150px;
    }
    
    #hogwarts_logo_wrapper {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        margin: auto;
    }
    
    #hogwarts_logo {
        height: auto;
        width: 5em;
        display: block;
        max-width: 80px;
    }
    
    #page_name {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        align-self: center;
    }
    
    #house_crests_wrapper {
        display: flex;
        flex-direction: row;
    
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        margin: auto;
    }
    
    .house_crest {
        height: auto;
        width: 5em;
        max-width: 70px;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
}